apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ quay_enterprise_namespace }}"
  name: "{{ quay_enterprise_app_config_secret }}"
data:
  config.yaml: "{{ ('AUTHENTICATION_TYPE: Database
BITTORRENT_FILENAME_PEPPER: d32ca5b3-fae1-4979-8f24-37143b8e2b7c
BUILDLOGS_REDIS: {host: ' + quay_enterprise_redis_service + '.' + quay_enterprise_namespace + '.svc , port: 6379}
DB_URI: postgresql://' + quay_enterprise_postgresql_user + ':' + quay_enterprise_postgresql_admin_password + '@' + quay_enterprise_postgresql_service + '.' + quay_enterprise_namespace + '.svc/' + quay_enterprise_postgresql_user + '
DEFAULT_TAG_EXPIRATION: 2w
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - LocalStorage
  - {storage_path: /datastorage/registry}
DISTRIBUTED_STORAGE_PREFERENCE: [default]
ENTERPRISE_LOGO_URL: /static/img/quay-logo.png
FEATURE_ACI_CONVERSION: false
FEATURE_ANONYMOUS_ACCESS: true
FEATURE_APP_REGISTRY: false
FEATURE_APP_SPECIFIC_TOKENS: true
FEATURE_BUILD_SUPPORT: false
FEATURE_CHANGE_TAG_EXPIRATION: true
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
FEATURE_PARTIAL_USER_AUTOCOMPLETE: true
FEATURE_REQUIRE_TEAM_INVITE: true
FEATURE_SECURITY_NOTIFICATIONS: true
FEATURE_SECURITY_SCANNER: false
FEATURE_USER_CREATION: true
FEATURE_USER_LOG_ACCESS: true
GPG2_PRIVATE_KEY_FILENAME: signing-private.gpg
GPG2_PUBLIC_KEY_FILENAME: signing-public.gpg
LOG_ARCHIVE_LOCATION: default
MAIL_DEFAULT_SENDER: support@quay.io
MAIL_PORT: 587
MAIL_USE_TLS: true
PREFERRED_URL_SCHEME: http
SECRET_KEY: "111035263804640727759777669782630763679986566344602829301107251195302160120569" 
SECURITY_SCANNER_ISSUER_NAME: security_scanner
SERVER_HOSTNAME: quay-enterprise-http-quay-enterprise.apps.172.120.0.1.nip.io
SIGNING_ENGINE: gpg2
TAG_EXPIRATION_OPTIONS: [0s, 1d, 1w, 2w, 4w]
TEAM_RESYNC_STALE_TIME: 60m
TESTING: false
USERFILES_LOCATION: default
USERFILES_PATH: userfiles/
USER_EVENTS_REDIS: {host: ' + quay_enterprise_redis_service + '.' + quay_enterprise_namespace + '.svc, port: 6379}
USE_CDN: false' )| b64encode }}"