apiVersion: v1
kind: Service
metadata:
  namespace: "{{ quay_enterprise_namespace }}"
  name: "{{ quay_enterprise_app_service }}"
  labels:
    app: quay-enterprise
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: "{{ quay_enterprise_app_cert_secret_name }}"
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
    - protocol: TCP
      port: 443
      targetPort: 443
      name: https
  selector:
    quay-enterprise-component: "{{ quay_enterprise_app_component }}"
