apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ quay_enterprise_postgresql_claim_name }}"
  namespace: "{{ quay_enterprise_namespace }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ quay_enterprise_postgresql_claim_size }}"