apiVersion: v1
kind: Route
metadata:
  name: quay-config
  namespace: "{{ quay_enterprise_namespace }}"
spec:
  port:
    targetPort: https
  tls:
    termination: passthrough
  to:
    kind: Service
    name: "{{ quay_enterprise_config_service }}"
