apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:  
  name: "{{ quay_enterprise_role }}"
  namespace: "{{ quay_enterprise_namespace }}"
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - put
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
