apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ quay_enterprise_app }}"
  name: "{{ quay_enterprise_postgresql_service }}"
  namespace: "{{ quay_enterprise_namespace }}"
spec:
  ports:
  - name: 5432-tcp
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    quay-enterprise-component: "{{ quay_enterprise_postgresql_component }}"
  sessionAffinity: None
  type: ClusterIP
