apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: "{{ quay_enterprise_namespace }}"
  name: "{{ quay_enterprise_app_component }}"
  labels:
    app: quay-enterprise
    quay-enterprise-component: "{{ quay_enterprise_app_component }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quay-enterprise
      quay-enterprise-component: "{{ quay_enterprise_app_component }}"
  template:
    metadata:
      namespace: "{{ quay_enterprise_namespace }}"
      labels:
        app: quay-enterprise
        quay-enterprise-component: "{{ quay_enterprise_app_component }}"
    spec:
      volumes:
      - name: configsecret
        secret:
          secretName: "{{ quay_enterprise_app_config_secret }}"
      - name: datastorage
        persistentVolumeClaim:
          claimName: "{{ quay_enterprise_app_claim_name }}"
      - name: quay-tls
        secret:
          secretName: "{{ quay_enterprise_app_cert_secret_name }}"
      containers:
      - name: "{{ quay_enterprise_app_component }}"
        image: "{{ quay_enterprise_app_image }}"
        env:
        - name: QE_K8S_NAMESPACE
          value: "{{ quay_enterprise_namespace }}"
        - name: QE_K8S_CONFIG_SECRET
          value: "{{ quay_enterprise_app_config_secret }}"
        ports:
        - containerPort: 80
          protocol: TCP
        volumeMounts:
        - name: configsecret
          mountPath: /conf/stack
        - name: datastorage
          mountPath: /datastorage          
        - name: quay-tls
          mountPath: /quay-tls
      imagePullSecrets:
        - name: coreos-pull-secret
