apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ quay_enterprise_namespace }}"
  name: "{{ quay_enterprise_app_config_secret }}"
data:
  config.yaml: "{{ ('AUTHENTICATION_TYPE: Database
BITTORRENT_FILENAME_PEPPER: 3749248b-a089-4a99-a5ab-cd94b4ffc3ef
BUILDLOGS_REDIS: {host: ' + quay_enterprise_redis_service + '.' + quay_enterprise_namespace + '.svc , port: 6379}
DB_URI: postgresql://' + quay_enterprise_postgresql_user + ':' + quay_enterprise_postgresql_password + '@' + quay_enterprise_postgresql_service + '.' + quay_enterprise_namespace + '.svc:5432/' + quay_enterprise_postgresql_database + '
DEFAULT_TAG_EXPIRATION: 2w
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - LocalStorage
  - {storage_path: /datastorage/registry}
DISTRIBUTED_STORAGE_PREFERENCE: [default]
ENTERPRISE_LOGO_URL: /static/img/quay-logo.png
FEATURE_ACI_CONVERSION: false
FEATURE_ANONYMOUS_ACCESS: true
FEATURE_APP_REGISTRY: false
FEATURE_APP_SPECIFIC_TOKENS: true
FEATURE_BUILD_SUPPORT: false
FEATURE_CHANGE_TAG_EXPIRATION: true
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
FEATURE_PARTIAL_USER_AUTOCOMPLETE: true
FEATURE_REQUIRE_TEAM_INVITE: true
FEATURE_SECURITY_NOTIFICATIONS: true
FEATURE_SECURITY_SCANNER: true
FEATURE_USER_CREATION: true
FEATURE_USER_LOG_ACCESS: true
GITHUB_LOGIN_CONFIG: {}
GITHUB_TRIGGER_CONFIG: {}
GITLAB_TRIGGER_KIND: {}
GPG2_PRIVATE_KEY_FILENAME: signing-private.gpg
GPG2_PUBLIC_KEY_FILENAME: signing-public.gpg
LOG_ARCHIVE_LOCATION: default
MAIL_DEFAULT_SENDER: support@quay.io
MAIL_PORT: 587
MAIL_USE_TLS: true
PREFERRED_URL_SCHEME: https
SECRET_KEY: "74333339294400450134301122820303542523312405044415130582063445582793563786359"
SECURITY_SCANNER_ENDPOINT: http://clair.quay-enterprise.svc:6060
SECURITY_SCANNER_ISSUER_NAME: security_scanner
SERVER_HOSTNAME: ' + ingress_host + ' 
SIGNING_ENGINE: gpg2
SUPER_USERS: [quay]
TAG_EXPIRATION_OPTIONS: [0s, 1d, 1w, 2w, 4w]
TEAM_RESYNC_STALE_TIME: 60m
TESTING: false
USERFILES_LOCATION: default
USERFILES_PATH: userfiles/
USER_EVENTS_REDIS: {host: ' + quay_enterprise_redis_service + '.' + quay_enterprise_namespace + '.svc, port: 6379}
USE_CDN: false
SETUP_COMPLETE: true
V3_UPGRADE_MODE: complete
' )| b64encode }}"
  ssl.cert: "{{ server_crt | b64encode }}"
  ssl.key: "{{ server_key | b64encode }}"