apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: quay-enterprise
    quay-enterprise-component: "{{ quay_enterprise_postgres_component }}"
  name: quay-enterprise-postgres
  namespace: "{{ quay_enterprise_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:  
      app: quay-enterprise
      quay-enterprise-component: "{{ quay_enterprise_postgres_component }}"
  template:
    metadata:
      labels:
        app: quay-enterprise
        quay-enterprise-component: "{{ quay_enterprise_postgres_component }}"
    spec:
      containers:
      - image: "{{ quay_enterprise_postgres_image }}"
        env:
        - name: POSTGRESQL_USER
          value: "{{ quay_enterprise_postgres_user }}"
        - name: POSTGRESQL_PASSWORD
          value: "{{ quay_enterprise_postgres_password }}"
        - name: POSTGRESQL_DATABASE
          value: "{{ quay_enterprise_postgres_database }}" 
        - name: POSTGRESQL_ADMIN_PASSWORD
          value: "{{ quay_enterprise_postgres_admin_password }}"
        imagePullPolicy: IfNotPresent
        name: postgres
        ports:
        - containerPort: 5432
          protocol: TCP
        resources: {}
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: postgres-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: "{{ quay_enterprise_postgres_claim_name }}"
