apiVersion: v1
kind: Service
metadata:
  namespace: "{{ quay_enterprise_namespace }}"
  name: "{{ quay_enterprise_redis_service }}"
  labels:
    app: quay-enterprise
    quay-enterprise-component: "{{ quay_enterprise_redis_component }}"
spec:
  ports:
    - port: 6379
  selector:
    app: quay-enterprise
    quay-enterprise-component: "{{ quay_enterprise_redis_component }}"
