apiVersion: v1
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ noobaa_secret_name }}
  namespace: {{ noobaa_namespace }}
  labels:
    app: {{ noobaa_app }}
data:
  email: {{ noobaa_admin_email | b64encode }}
  name: {{ noobaa_admin_sysname | b64encode }}
  password: {{ noobaa_admin_passwd | b64encode }}
