kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ noobaa_role }}
  namespace: {{ noobaa_namespace }}
  labels:
    app: {{ noobaa_app }}
rules:
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - services
    verbs:
      - get
      - list