apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: clair
    clairComponent: "{{ clair_postgres_component }}"
  name: clair-postgres
  namespace: {{ clair_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:  
      app: clair
      clairComponent: "{{ clair_postgres_component }}"
  template:
    metadata:
      labels:
        app: clair
        clairComponent: "{{ clair_postgres_component }}"
    spec:
      containers:
      - image: "{{ clair_postgres_image }}"
        env:
        - name: POSTGRESQL_USER
          value: "{{ clair_postgres_user }}"
        - name: POSTGRESQL_PASSWORD
          value: "{{ clair_postgres_password }}"
        - name: POSTGRESQL_DATABASE
          value: "{{ clair_postgres_user }}"
        imagePullPolicy: IfNotPresent
        name: postgres
        ports:
        - containerPort: 5432
          protocol: TCP
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: postgres-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: "{{ clair_postgres_claim_name }}"
