apiVersion: v1
kind: Service
metadata:
  labels:
    app: clair
    clairComponent: "{{ clair_postgres_component }}"
  name: "{{ clair_postgres_service }}"
  namespace: "{{ clair_namespace }}"
spec:
  ports:
  - name: 5432-tcp
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    clairComponent: "{{ clair_postgres_component }}"
  sessionAffinity: None
  type: ClusterIP
