apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: clair
    clairComponent: "{{ clair_app_component }}"
  name: "{{ clair_app_component }}"
  namespace: "{{ clair_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clair
      clairComponent: "{{ clair_app_component }}"
  template:
    metadata:
      labels:
        app: clair
        clairComponent: "{{ clair_app_component }}"
    spec:
      volumes:
      - name: clair-config
        configMap:
          name: "{{ clair_app_configmap  }}"
      - name: "{{ clair_app_secret }}"
        secret:
          secretName: "{{ clair_app_secret }}"
      imagePullSecrets:
      - name: redhat-quay-pull-secret
      serviceAccount: quay-enterprise-sa 
      serviceAccountName: quay-enterprise-sa
      containers:
      - name: clair
        image: "{{ clair_app_image }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: clair-api
          containerPort: 6060
          protocol: TCP
        - name: clair-health
          containerPort: 6061
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /health
            port: 6061
        readinessProbe:
          httpGet:
            path: /health
            port: 6061
        volumeMounts:
        - name: clair-config
          mountPath: /clair/config
        - name: "{{ clair_app_secret }}"
          mountPath: /secret
        resources:
          limits:
            cpu: 200m
            memory: 1500Mi
          requests:
            cpu: 100m
            memory: 500Mi
