apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ clair_namespace }}"
  name: "{{ clair_app_secret }}"
data:
  tls.key: "{{ '-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEA1K+tIo6A2ihUGChQ3FlH8BBRvzui+aqTicUIgRy9HzksqaO/
yN3piS389AmCt73Hl2eYxPCXfc2szrYCdTea8F1wMPU+ijeaT5MTjJgH38PBKtdz
bTMaXX2Df8IT1CYdZrou/IpQIyAteAlAyYCJlbb7rL9xmHaOv0Ljh2I4eH8fnGVb
sYHG9JC3kq/iTKCx4bGD1fTN9REuS2KzlMk39zwVdKMCmuY+FUQwGldhq1UcM0yg
7IZQAKsPjw3r5Vg3voZg93MBUhOza8g9FEjS6GQi9nMH0YWlBGXvgg7qQuEgnuz+
+t21Uc0QDOLU6r8EaKslOw2GPz+RCFodb7rTVQIDAQABAoIBACESMgM6EloZxD2/
YxdoQJHZD8UDEmvs9KULALAG1nd47fNw1Vz3+JzOjFMr+Wn1tgfaYXxaBsxWg2Tf
E1HDtDFk7hGGyNM4IyP1dCg76ZmHOE2fk8CqnhJkdmKSvH+T76VuFOlK3nwfwEI2
eh77ACnJ+qdZW2IAKWEfFv8RrEM8BGZPntsjD5+D7dG3gT9N5JcCbJVa9PeFDcqo
kdjkJvManEUUY+UNwVuhzxoNYe/bw5daXpcqOQkSnSfpVLj6OCmlgDJbpj8qyA+l
2SFsDttflGosu1Oj627CRTmbW/M9Cc21a4xDnugMp3swaz84AJhqpjwsugXaPy+J
BgDMe/8CgYEA2m4sPQyuPNASbk3w07oRcvo3Rc+mcjOKz4WLGfMW/adnnmrreSWb
lBCzNyWa/dip5rSH+4ivjRASQv3G3QTlM/xk8R6TU6bgPTT3ACaWi8mK0mRTIeFA
ZpaMPEFeDZ0SiQ8hYBl/ojbSP18LJ5LVV7CmLsccU0Y/Qgh1jrU5lh8CgYEA+USU
qHQeMam2Anw4B7TibOqkeBX34eFAs10qJiY8pqEIkez5V9t4JhIAh+m7rJsyEx0S
ZfhWH0Qo2iuMc+UV7HYoxruy9aipvYXqGeo8ylgTvW2bXrnDahkl+1qztjWdbacn
GAlRop6wnkOoHH1gCfv0RAUOn7irxiS6Zx3SoAsCgYEAhLGrVEcQzkbE+5eDtsvx
b7zLuTBFeFkRebIx58jCbcO18goYFJehJNjkVpsUxiNKS6nedhL6OqLJxUKv/XLM
3sD0fXpKm+XjkatMZh4LFM6R8/AYhJt3aRsKBEzdmz2RlgvIBb5XyC6vmOnfN+I+
kq/wtLgm3/vrz+ydpd04J5cCgYBfQBCaSjzbd2Fgk70JXNqFCiis5qAhRWTm5Tvc
9hGJDtHqiSZCp0/DJG/lf7BCZc99tEc6henK6s29iJSUGL8G66PrRQA+lSO/kzOA
kZyHKZ7pbL/JM6zzlwaHhQJVJymwJAZxTeZPANq2r13G/TW8uvV9JH2RFQ02mwRL
sP6yPwKBgGetfzklcyweWF6fC6rOTJyJCIOy6yygunWPbewzYaxfZ+bPvLB6Mjnm
wepXd3v/9X1GDQ6V53d8BHIwfCmJQaPuI7MIqKemyi6iHWZsYWpHgQG2iR9YzA0G
JOzaP9i12YPeVsj4d2ZB05+Vr+syTHxwuUbOr7Y55sEvvCFWkD7C
-----END RSA PRIVATE KEY-----
' | b64encode }}"