apiVersion: v1
kind: Service
metadata:
  name: "{{ clair_app_service }}"
  namespace: "{{ clair_namespace }}"
  label:
    app: clair
    clairComponent: "{{ clair_app_component }}"
spec:
  type: ClusterIP
  ports:
  - name: clair-api
    port: 6060
    targetPort: 6060
    protocol: TCP
  - name: clair-health
    port: 6061
    targetPort: 6061
    protocol: TCP
  selector:
    clairComponent: "{{ clair_app_component }}"
